<!DOCTYPE html>
<html>
<head>
    <title>Administrar Plazas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/estilos.css' %}">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Número de plaza</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for plaza in plazas %}
        <tr>
            <td>{{ plaza.numero }}</td>
            <td>{{ plaza.estado }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>

