
<!DOCTYPE html>
<html>
<head>
    <title>Depositar vehiculo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/estilos.css' %}">
</head>
<body>
<div class="eo">
    <form method="post" action="{% url 'crear_abono' %}">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required>
        </br></br>
    <label for="apellidos">Apellido:</label>
    <input type="text" name="apellidos" required>
        </br></br>
    <label for="dni" >DNI:</label>
    <input type="text" name="dni" required>
        </br></br>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
        </br></br>
    <label for="matricula">Matricula:</label>
    <input type="text" name="matricula" required>
        </br></br>
         <label for="num_tarjeta">Número de tarjeta:</label>
    <input type="text" name="num_tarjeta" required>
        </br></br>

    <label for="tipo_suscripcion">Tipo de suscripcion:</label>
    <select name="tipo_suscripcion" required>
        <option value="mensual">Mensual</option>
         <option value="Trimestral">Trimestral</option>
         <option value="semestral">Semestral</option>
        <option value="anual">Anual</option>
    </select>
        </br></br>
         <label for="tipo">Tipo de suscripcion:</label>
    <select name="tipo" required>
        <option value="TIPO_TURISMO">Coche</option>
        <option value="TIPO_MOTO">Moto</option>
           <option value="TIPO_PMR">PMR</option>
    </select>
        </br></br>
    <input type="submit" value="Crear Abono">

</form>
</div>
</body>
</html>